.feedback-form {
  display: flex;
  flex-wrap: wrap;
}
.form-input,
.form-textarea {
  width: 300px;
  height: 15px;
  border: 1px solid #cc99cc;
  border-radius: 5px;
  padding: 7px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.form-label {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #2e86ae;
}
.form-textarea {
  height: 100px;
  resize: none;
}
.feedback-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-button {
  display: block;
  width: 160px;
  min-height: 40px;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #2e86ae;
  text-align: center;

  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #cc99cc;
}
.form-button:hover,
.form-button:focus {
  color: #cc99cc;
  border: 1px solid #2e86ae;
}
p > a {
  text-decoration: none;
}
